@use "../utils/variables" as v;
@use "sass:map";


.socialNavbar {
  text-align: center;
  font-size: 2em;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline;
    }
  }
  a {
    color: v.$white;
    text-shadow: v.$black 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin: 25px;
  }
  a:hover {
    color: map.get(v.$primary-colors, 'orange'); // Use the desired color key
    // text-shadow: map.get(v.$primary-colors, 'orange') 0px 0px 4px; // Match the hover color
  }
}

@media screen and (max-width: 768px) {
  .socialNavbar {
    ul {
      margin-top: 0;
    }
  }
}
